/laravel-app/public/.DS_Store
/laravel-app/node_modules
/laravel-app/public/assets
/laravel-app/public/build
/laravel-app/public/hot
/laravel-app/public/data
/laravel-app/public/storage
/laravel-app/storage/*.key
/laravel-app/vendor
/laravel-app/.env
/laravel-app/.env.backup
/laravel-app/.env.dev.*
/laravel-app/.phpunit.result.cache
/laravel-app/.php_cs*
/laravel-app/Homestead.json
/laravel-app/Homestead.yaml
/laravel-app/auth.json
/laravel-app/npm-debug.log
/laravel-app/yarn-error.log

/deployment/docker/db/*

**/.DS_Store
.idea
.vscode
.editorconfig
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper.php
.php_cs.cache